---
import Layout from '../layouts/layout.astro'
---

<Layout>
	<h1>Jacob</h1>
	<p>Er et hus</p>
	<section>
		<blockquote>
			De bedste huse er designet af et hus
			<footer>
				<cite>— Kartoffel Huset</cite>
			</footer>
		</blockquote>
	</section>
</Layout>