---
---

<header>
  <div class="container">
    <nav>
      <hgroup>
        <h3>
          <a href="/"><strong>Jacob er et hus</strong></a>
        </h3>
        <p>Og dit næste hus kunne være en Jacob</p>
      </hgroup>
      <ul>
        <li><a href="/">Hjem</a></li>
        <li><a href="/om-mig">Om mig</a></li>
        <li><a href="/projekter">Projekter</a></li>
        <li><a href="/priser">Priser</a></li>
      </ul>
    </nav>
  </div>
</header>