---
---

<header>
  <div class="container">
    <nav>
      <ul>
        <li>
          <a href="/"><strong>Jacob er et hus</strong></a>
        </li>
      </ul>
      <ul>
        <li><a href="/">Hjem</a></li>
        <li><a href="/om-mig">Om mig</a></li>
        <li><a href="/projekter">Projekter</a></li>
        <li><a href="/priser">priser</a></li>
      </ul>
    </nav>
  </div>
</header>